option_settings:
  aws:ec2:vpc:
    VPCId: vpc-08c6f8d352c942aed
    ELBSubnets: subnet-091ed8a2f6ff889eb,subnet-0eda7ff17d56e42e5
    Subnets: subnet-091ed8a2f6ff889eb,subnet-0eda7ff17d56e42e5
    ELBScheme: public
- namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 8501
