files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_start_app.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current/backend
      nohup uvicorn app:app --host 0.0.0.0 --port 8000 &
      cd /var/app/current/frontend
      nohup streamlit run app.py --server.port 8501 --server.address 0.0.0.0 &
